/* RESET DASAR & UMUM */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Pixelify Sans', Arial, sans-serif;
}

/* CONTAINER UMUM */
.container {
  background-image: url("../images/background.jpg");
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* JUDUL */
.title {
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  max-width: 600px;
}
.title .line {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.title img {
  width: 50px;
  height: 50px;
  margin: 2px;
}

/* HOME PAGE KHUSUS */
.button-hover,
.button-hover * {
  box-sizing: border-box;
}

#home .title {
  margin-bottom: 385px;
}

.button-hover {
  position: absolute;
  top: 470px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100px; 
  height: auto;
  cursor: pointer;
  z-index: 10;
}

.button-hover2 img {
  width: 110%;
  height: auto;
  display: block;
}

.button-hover2:hover img {
  transform: scale(1.05);
}

.press-text {
  font-family: 'Pixelify Sans';
  font-size: 32px;
  color: #0000;
  margin-bottom: 30px;
  text-align: center;
}

/* CHOOSE PAGE */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFC9A;
  border-radius: 30px;
  width: 1000px;
  height: 230px;
  margin-bottom: 60px;
  box-shadow: 0 0 10px #444;
  position: relative;
}

#choose .title {
  margin-top: -30px;
  margin-bottom: 60px;
}

.nav {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 40px;
}

.nav:hover img {
    transform: scale(1.05);
}

.carousel {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: visible;
  margin-bottom: 300px;
}
.pokemon {
  text-align: center;
  flex: 0 0 120px;
}

.pokemon img {
  max-height: 130px;
  max-width: 130px;
  width: auto;
  height: auto;
  image-rendering: pixelated;
}

.pokemon:hover img{
    transform: scale(1.05);
}

.caption {
  margin-top: 20px;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  font-family: 'Pixelify Sans';
}

/* button pokedex */
.pokedex-button img {
  width: 60%;
  height: auto;
  display: block;
  margin: 0px auto 0px auto;
}

.pokedex-button:hover img {
  transform: scale(1.05);
}

/* INPUT PAGE */
.blur-background {
  backdrop-filter: blur(20px);
}

#input .title {
  margin-top: -90px;
  margin-bottom: 80px;
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  gap: 30px;
}

.input-box-image {
  width: 400px;
}

.search-input {
  padding: 10px 15px;
  margin-top: -75px;
  border: none;
  background: transparent;
  font-family: 'Pixelify Sans';
  font-size: 18px;
  width: 300px;
  text-align: center;
  outline: none;
  position: relative;
}
.confirm-btn {
  background: none;
  border: none;
  margin-top: 70px;
  padding: 0;
  cursor: pointer;
}

.confirm-btn img.confirm-img {
  width: 160px;
  transition: transform 0.2s ease;
}

.confirm-btn:hover img.confirm-img {
  transform: scale(1.05);
}

/* STATUS PANEL (popup & babysit) */
#page2 .container {
  background-image: url("../images/bgpokemon.png");
  background-size: contain;
  background-position: center;
}

#page2 .status-panel {
  position: absolute;
  top: 30px;
  left: 60px;
  color: #000000;
  font-size: 18px;
}

#page2 .status-bar {
  margin-bottom: 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #000000;
}

#page2 .label {
  margin-bottom: 0px;
}

#page2 .bar {
  padding: 4px;
}

#page2 .bar img {
  width: 120px;
  height: 20px;
  display: block;
  image-rendering: pixelated;
}

/* ICON PANEL */
#page2 .icon-panel {
  position: absolute;
  top: 30px;
  right: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#page2 .icon {
  width: 50px;
  cursor: pointer;
}

#page2 .icon:hover {
  transform: scale(1.05);
}

/* LEVEL */
#page2 .level {
  text-align: center;
  margin-top: -65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250px);
  font-size: 20px;
  font-family: 'Aldrich';
  background: #9F51FE;
  color: #FFFFFF;
  padding: 3px 10px;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  position: absolute;
}

/* BUTTON PANEL */
#page2 .button-panel {
  display: flex;
  justify-content: center;
  gap: 130px;
  position: absolute;
  bottom: 30px;
}
#page2 .button-panel button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

#page2 .button-panel button img {
  width: 120px;  
  height: auto; 
}

#page2 .button-panel button:hover img {
    transform: scale(1.05);
}

/* POKEMON IMAGE */
#page2 .pokemon {
  text-align: center;
  margin-top: 200px;
}
#page2 .pokemon img {
  width: 150px;
  transform: scale(1.8);
  image-rendering: pixelated;
}

/* EVOLUTION POPUP */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFEFF;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  border: 4px solid #D1D8FF;
}

.popup-header {
  width: 100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  position: relative;
}

.popup-title {
  width: 100%;
  height: auto;
  display: block;
  padding: 6px;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  z-index: 10;
}

.close-btn img {
  width: 100%;
  height: auto;
  display: block;
}

.close-btn:hover img{
    transform: scale(1.05);
}

.popup-content {
  padding: 15px;
  text-align: center;
}
.evolved-pokemon {
  width: 200px;
  height: auto;
}

.pokemon-name {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Pixelify Sans';
}

/* NAMING POKEMON */
#page2 .search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -160px;
  gap: 30px;
}

#page2 .input-box-image {
  width: 400px;
}

#page2 .search-input {
  padding: 10px 15px;
  margin-top: -75px;
  border: none;
  background: transparent;
  font-family: 'Pixelify Sans';
  font-size: 18px;
  width: 300px;
  text-align: center;
  outline: none;
  position: relative;
}

#page2 .caption {
  position: absolute;
  margin-top: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50px);
  font-family: 'Pixelify Sans';
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

#page2 .egg {
  position: absolute;
  margin-top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50px);
  text-align: center;
}

#page2 .egg img {
  width: 200px;
  height: auto;
  image-rendering: pixelated;
}

/* CHOOSE FEED */
.feed-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popup-container {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-bg {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}

.berry-grid {
  position: absolute;
  top: 60px;
  left: 5px;
  transform: translateX(5px);
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 90%;
}

.berry-item {
  border: 3px solid #6c5ce7;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.berry-item:hover {
  transform: translateY(-3px) scale(1.05);
  border-color: #D3D9FF;
  box-shadow: 
    0 8px 16px rgba(0, 0, 0, 0.2),
    inset 0 1px 3px rgba(255, 255, 255, 0.7);
}

.berry-item:active {
  transform: translateY(-1px) scale(1.02);
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 1px 3px rgba(255, 255, 255, 0.5);
}

.berry-item.selected {
  border-color: #7B44FC;
  background: linear-gradient(145deg, #d1f2eb, #B26BFB);
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.15),
    inset 0 1px 3px rgba(255, 255, 255, 0.5);
}

.berry-item img {
  width: 50px;
  height: 50px;
  image-rendering: pixelated;
  pointer-events: none;
}

.berry-item:hover img {
  transform: scale(1.1);
}

.feeding-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 0;
}

.berry {
  width: 100px;
  margin-left: -230px;
}

/* OPTION PLAY & TRAINING*/
.option {
  position: absolute;
  left: 60px;
  bottom: 230px;
}

.play-menu {
  list-style: none;
  font-family: 'Pixelify Sans';
  font-size: 27px;
  font-style: bold;
  margin-top: -170px;
  margin-left: -5px;
}

.play-menu li {
  position: relative;
  padding-left: 20px;
  margin: 8px 20px;
  cursor: pointer;
}

.play-menu li::before {
  content: '▶';
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  color: black;
}

.play-menu li:hover::before {
  visibility: visible;
}

.play-menu li:hover {
  text-decoration: underline;
}

/*GAMEOVER*/
.popup {
  width: 300px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  text-align: center; 
  padding-bottom: 20px;
}

.popup-text {
  padding: 30px 15px;
  text-align: center;
}

.popup-message {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 10px 0 5px;
}

.popup-submessage {
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
}

.restart-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.restart-btn img {
  width: 100%;
  height: auto;
  display: block;
}

.restart-btn:hover img{
    transform: scale(1.05);
}

/*BAG*/
.items {
  position: fixed;
  margin-top: 80px;
  margin-left: 450px;
  left: 50px;
  top: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.items img {
  width: 100%; 
  height: auto;
  display: block;
}
